@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-shake {
      animation: shake 0.2s ease-in-out infinite alternate;
    }
  
    .animate-line {
      animation: line 0.8s ease-in-out infinite;
      animation-fill-mode: both;
    }
  
    @keyframes shake {
      0% { transform: translateY(-1%); }
      100% { transform: translateY(3%); }
    }
  
    @keyframes line {
      0% { stroke-dashoffset: 22; }
      25% { stroke-dashoffset: 22; }
      50% { stroke-dashoffset: 0; }
      80% { stroke-dashoffset: -22; }
      100% { stroke-dashoffset: -22; }
    }
  }